LikeTangTang/Temp
LikeTangTang/Library
LikeTangTang/Logs
LikeTangTang/obj
LikeTangTang/obj/Debug
LikeTangTang/.vs
LikeTangTang/Builds
LikeTangTang/UserSettings
LikeTangTang/ServerData
license-request/
*.log
*.keystore
